#{extends 'main.html' /}
#{set title:'Home' /}

<p>Preencha os dados da pessoa</p>


<form action="@{Postagens.salvar}">

		<input type="hidden" name="p.id" value="${p?.id}" />

	<div class="mb-3">
		<label class="form-label">titulo:</label>
		<input type="text" class="form-control" name="p.titulo" value="${p?.titulo}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">conteudo:</label>
		<input type="text" class="form-control" name="p.conteudo" value="${p?.conteudo}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">autor:</label>
		<input type="text" class="form-control" name="p.autor" value="${p?.autor}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">data:</label>
		<input type="date" class="form-control" name="p.data" value="${p?.data}" />
	</div>
	
	<div class="mb-3">
		<input type="submit" class="btn btn-primary" />
	</div>
		</form>
		
		<a href="@{Postagens.listar}">
	
	Voltar para a listagem
</a>

